In [1]:
import pandas as pd

In [4]:
url = "https://docs.google.com/spreadsheets/d/1Z9iiV7IwgB5gs-VfEEp9s__LcwQqSpTNouhZncLYe4A/export"
data_excel = pd.read_excel(url, sheet_name=0)
data_excel.head()

,sexo,Edad,18,23,26,29,31,P. Somatización,16,20,...,Obsesión/com,Sen. Emocio.,Depresión,Ansiedad,Hostilidad,Ans. Fóbica,Ideación Paran.,Psicoticismo,SA45,Agotamiento
0,1,35,2,1,1,1,1,6,1,1,...,Promedio,Bajo,Promedio,Bajo,Bajo,Bajo,Bajo,Promedio,Bajo,Promedio
1,2,25,0,1,1,1,0,3,0,0,...,Bajo,Bajo,Bajo,Bajo,Bajo,Bajo,Bajo,Promedio,Bajo,Alto
2,1,23,2,1,1,2,2,8,3,2,...,Promedio,Alto,Alto,Promedio,Promedio,Alto,Alto,Promedio,Promedio,Alto
3,1,20,2,1,1,1,1,6,2,2,...,Alto,Alto,Bajo,Promedio,Promedio,Alto,Promedio,Alto,Bajo,Promedio
4,1,21,1,1,1,2,1,6,3,4,...,Alto,Alto,Alto,Alto,Promedio,Alto,Promedio,Alto,Promedio,Promedio

In [5]:
print( data_excel.columns.tolist() )

['sexo', 'Edad', '18', '23', '26', '29', '31', 'P. Somatización', '16', '20', '21', '25', '28', 'P. Obsesion/Comp.', '14', '15', '17', '32', '36', 'P.Sens.Emocional', '9', '10', '11', '27', '42', 'P.Depresión', '6', '12', '30', '38', '41', 'P.Ansiedad', '7', '34', '35', '39', '43', 'P.Hostilidad', '3', '8', '22', '24', '37', 'P.Ans.Fóbica', '2', '5', '19', '40', '44', 'P.Ideación Par.', '1', '4', '13', '33', '45', 'P. Psicoticismo', 'TOTAL SA 45', '1.1', '2.1', '3.1', '4.1', '5.1', '6.1', '7.1', '8.1', '9.1', '10.1', 'AGOTAMIENTO EMO.', 'Somatización', 'Obsesión/com', 'Sen. Emocio.', 'Depresión', 'Ansiedad', 'Hostilidad', 'Ans. Fóbica', 'Ideación Paran.', 'Psicoticismo', 'SA45', 'Agotamiento']

In [6]:
cols = ['sexo', 'Somatización', 'Obsesión/com', 'Sen. Emocio.', 'Depresión', 'Ansiedad', 'Hostilidad', 'Ans. Fóbica', 'Ideación Paran.', 'Psicoticismo', 'SA45', 'Agotamiento']

data = data_excel[cols]
data.head()

,sexo,Somatización,Obsesión/com,Sen. Emocio.,Depresión,Ansiedad,Hostilidad,Ans. Fóbica,Ideación Paran.,Psicoticismo,SA45,Agotamiento
0,1,Alto,Promedio,Bajo,Promedio,Bajo,Bajo,Bajo,Bajo,Promedio,Bajo,Promedio
1,2,Bajo,Bajo,Bajo,Bajo,Bajo,Bajo,Bajo,Bajo,Promedio,Bajo,Alto
2,1,Alto,Promedio,Alto,Alto,Promedio,Promedio,Alto,Alto,Promedio,Promedio,Alto
3,1,Alto,Alto,Alto,Bajo,Promedio,Promedio,Alto,Promedio,Alto,Bajo,Promedio
4,1,Alto,Alto,Alto,Alto,Alto,Promedio,Alto,Promedio,Alto,Promedio,Promedio

In [7]:
#Creo el map
category_map = {
    'Bajo': 0,
    'Promedio': 1,
    'Alto': 2
}

In [17]:
#Convierto las categorias a numeros
data2 = data.copy()

for i in range(11):
    data2.iloc[:, 1+i ] = data2.iloc[:, 1+i ].map(category_map)

data2.head()

,sexo,Somatización,Obsesión/com,Sen. Emocio.,Depresión,Ansiedad,Hostilidad,Ans. Fóbica,Ideación Paran.,Psicoticismo,SA45,Agotamiento
0,1,2,1,0,1,0,0,0,0,1,0,1
1,2,0,0,0,0,0,0,0,0,1,0,2
2,1,2,1,2,2,1,1,2,2,1,1,2
3,1,2,2,2,0,1,1,2,1,2,0,1
4,1,2,2,2,2,2,1,2,1,2,1,1

In [14]:
evaluacion = predict_model(model, data=

0
1
2
3
4
5
6
7
8
9
10
11